@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
.mycontainer{
  position: relative;
  width: 50%;
  left: 50%;
  transform: translate(-50%,0%);
  display: flex;
  padding: 20px;
  margin: 2em 0em;
  background: #FFF;
  border-radius:10px;
  box-shadow: 0 0px 1.5em rgba(0,0,0,0.2);
  transition: box-shadow 0.2s;
  height: auto;
}
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    .mycontainer {
        width: 80%;
    }
}
.mybanner{
  color: white;
  font-weight: 500;
  font-size: 5vw;
  margin: auto;
  text-align: center;
  border-bottom: medium solid white;
  width: 20vw;
}

.bancontainer{
  background-color: dimgray;
  width: 100%;
  text-align: center;
  align-content: center;
  margin: 0px 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  color: white;
  box-shadow: 0 10px 1em rgba(0,0,0,0.3);
}
body{
    margin: 0 0;
}
p{
    max-width: 100%;
    word-wrap: break-word;
    margin: 0;
}
h1{
    max-width: 100%;
    word-wrap: break-word;
    margin: 0;
}
*{
    font-family: 'Roboto', sans-serif;;
    margin: 0 0;
}

code{
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(0,0,0,0.1);
}
img{
    max-width: 100%;
    margin: 10px auto;
    box-shadow: 0 5px 1em rgba(0,0,0,0.2);
    border-radius: 10px;
}
